<div class="center hero-unit">
	<h1>Welcome to the QA Hub</h1>
	<h2>
		This site is used by the QA team to manage items that go out in releases.
	</h2>
	<%= link_to "View Releases", releases_path, class: "btn btn-large btn-primary" %>
</div>